.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2b3428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first,
.second,
.third {
  background-color: #61dafb;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.second {
  background-color: #b3fb61;
  margin-block: 10px;
  color: #274900;
}
.third {
  background-color: #fba161;
  color: #572400;
}

img {
  width: 200px;
  margin-block: 5px;
  transition: 0.3s;
  cursor: pointer;
}
img:hover {
  width: 220px;
  margin-block: 10px;
  transition: 0.5s;
}

.Navbar {
  background-color: #b3fb61;
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 97%;
}

.Navbar2 {
  background-color: #fba161;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 97%;
}
